h3 Создание распределённой инфраструктуры периметральных средств безопасности Росавтодора
.article__project
  .article__project-picture
    img.article__project-image(src="img/project-32.png", alt="Logo")
  .article__project-info
    p.article__project-info-header Заказчик
    p.font-weight-bold.mb-0.mb-sm-5 Заказчик: ЗАО "Крок Инкорпорейтед"
    p.mb-0 Москва, 2022

.article__content

  h5 Развитие системы доступа в Интернет распределённой федеральной инфраструктуры периметральных средств безопасности
  p В 2022 году был заключён контракт на развитие системы доступа в Интернет федеральной инфраструктуры периметральных средств безопасности, распределённой по структурным подразделениям Росавтодора. Были проведены работы по настройке программно-аппаратных платформ МСЭ на объектах ФКУ.

  h5 Решение
  ul
    li Проведён анализ существующей конфигурации межсетевых экранов и настроек смежных систем
    li Установлено и настроено новое оборудование межсетевого экранирования
    li Перенесены существующие политики МСЭ на новую программно-аппаратную платформу
    li Обеспечена возможность идентификации пользователей, осуществляющих доступ к сети Интернет
    li Настроены правила доступа к сети Интернет для пользователей и групп пользователей
    li Настроены уточнённые с ФКУ политики безопасности
    li Проведены проверки согласно разработанной программе и методике испытаний

  h5 Результат

  p В результате проведения работ модернизирована инфраструктура периметральных средств безопасности на 37-ми объектах ФКУ, все пользователи обеспечены доступом в Интернет согласно внутренним регламентам организации.
