h3 Сопровождение комплекса технических средств и общесистемного программного обеспечения ГАС ПС и ИСОП 
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-12.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 ООО «Кунатек»
		p.mb-0 Москва, 2021


.article__content
	p Сопровождение и обеспечение непрерывного функционирования базовой инфраструктуры заказчика.

	h5 Решение 
	
	p «В 2021 году на основании открытой закупочной процедуры был заключен договор на техническое обслуживание в режиме 9×5 (частично — круглосуточно) в рамках которого заказчику оказываются услуги:

	ul
		li системного администрирования 
		li обслуживания оборудования вычислительной инфраструктуры, включая обновление микропрограммного обеспечения.
		li восстановление функциональности оборудования в случаях возникновения неисправностей и сбоев в его работе;
		li консультационная поддержка;

	p Оборудование:
	ul
		li хранения данных — дисковые массивы Dell EMC;
		li вычислительное — стоечные серверы и блейд-серверы HPE, IBM;
		li сети хранения данных — оборудование Dell EMC;
		li резервное копирование — оборудование Dell EMC;
		li сети передачи данных — оборудование Cisco Systems;

	p Программное обеспечение:
	ul
		li среда виртуализации — Vmware;
		li базовые инфраструктурные сервисы — Windows;
		li операционные системы — семейств Windows, Linux;
		li резервное копирование — Acronis.»

	h5 Результат

	p Оказываются услуги по сопровождению и обслуживанию вычислительной инфраструктуры, за год выполняется более 500 заявок на обслуживание, все в рамках договорных SLA.
