h3 Миграция на отечественные решения периметральных средств безопасности крупного банка Российской Федерации
.article__project
  .article__project-picture
    img.article__project-image(src="img/project-1.png", alt="Logo")
  .article__project-info
    p.article__project-info-header Заказчик
    p.font-weight-bold.mb-0.mb-sm-5 Заказчик: ООО "ЛИНС-М"
    p.mb-0 Москва, 2022

.article__content

  h5 Модернизация системы периметральных средств безопасности на 28-ми объектах региональной сети филиалов
  p В 2022 году был заключён контракт на работы по монтажу, инсталляции и пусконаладке оборудования и программных продуктов периметральных средств безопасности, распределённых по структурным подразделениям Заказчика. Были проведены работы по настройке программно-аппаратных платформ МСЭ.

  h5 Решение
  ul
    li Проведён анализ существующей конфигурации межсетевых экранов и настроек смежных систем
    li Установлено и настроено новое оборудование
    li Перенесены существующие политики МСЭ на новую программно-аппаратную платформу
    li Настроены правила доступа между продуктивными сетевыми сегментами
    li Настроены уточнённые политики безопасности
    li Проведены проверки согласно разработанной программе и методике испытаний
    li Проведён инструктаж обслуживающего персонала по работе с новыми программно-аппаратными комплексами

  h5 Результат

  p В результате проведения работ модернизирована инфраструктура периметральных средств безопасности на 28-ми объектах в 10-ти городах, обеспечена доступность сетевых сегментов согласно внутренним регламентам организации.
