h3 Создание тестового стенда системы контроля и управления мобильными пользователями

.article__project
	.article__project-picture
		img.article__project-image(src="img/project-37.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 ООО «Системный софт»
		p.mb-0 Москва, 2021

.article__content
	p Апробация технических решений системы контроля и управления мобильными пользователями (СКУМУ) на стенде.

	h5 Решение 
	
	p «Стенд был развернут в ЦОД Исполнителя на базе аппаратных и программных средств Исполнителя. На базе стенда проведено тестирование решения и отработка механизмов:

	ul
		li обеспечения безопасного использования мобильных устройств при работе с корпоративными данными как внутри, так и за пределами корпоративной сети Заказчика;
		li обеспечения контроля и управления мобильными устройствами, используемыми для работы с информационными ресурсами Заказчика;
		li Предоставления безопасного удаленного доступа к информационным системам Заказчика с мобильных устройств.


	p Решение включало в себя следующие компоненты:
	ul
		li Подсистему балансировки подключений мобильных устройств (для внутренних и внешних клиентов) — Citrix XenMobile;
		li Подсистему управления СКУМУ;
		li Подсистему управлениям базами данных — Microsoft SQL Server»

	h5 Результат

	p Тестирование успешно завершено, по итогам разработан комплект документации.
