h3 Техническое обслуживание и сопровождение корпоративной информационной инфраструктуры
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-12.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 ООО СЗ «Квазар»
		p.mb-0 Москва, 2021 — 2022


.article__content
	p Сопровождение и обеспечение непрерывного функционирования базовой инфраструктуры заказчика.

	h5 Решение 
	
	p «В 2021 году на основании открытой закупочной процедуры был заключен договор на техническое обслуживание в режиме 9×5 в рамках которого заказчику оказываются услуги:
	ul
		li системного администрирования 
		li восстановление функциональности инфраструктурных решений в случаях возникновения неисправностей и сбоев в работе;
		li консультационная поддержка;

	p Программное обеспечение:
	ul
		li среда виртуализации — Vmware;
		li базовые инфраструктурные сервисы — Windows;
		li операционные системы — семейств Windows;»

	h5 Результат

	p Оказаны услуги по сопровождению и обслуживанию вычислительной инфраструктуры, все в рамках договорных SLA.
