h3 Техническая поддержка и обслуживание информационно-технологического и инженерного оборудования единого программно-технического комплекса «Око»

.article__project
	.article__project-picture
		img.article__project-image(src="img/project-10.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 ООО «Авилекс»
		p.mb-0 Москва, 2022

.article__content
	p Сопровождение и обеспечение непрерывного функционирования базовой инфраструктуры заказчика.

	h5 Решение 
	
	p «В 2022 году на основании открытой закупочной процедуры был заключен договор на техническое сопровождение в круглосуточном режиме, в рамках которого заказчику оказываются услуги:

	ul
		li системного администрирования программно-технических комплекса;
		li технической поддержки программно-технического комплекса;
		li системного сопровождения программно-технического комплекса

	p С целью:
	ul 
		li обеспечения устойчивого и бесперебойного функционирования комплекса программно-технических средств;
		li обеспечения целостности, сохранности и восстанавливаемости данных комплекса программно-технических средств

	p Оборудование:
	ul
		li хранения данных — дисковые массивы HPE;
		li вычислительное — серверы Huawei;
		li сети хранения данных — оборудование Huawei;
		li резервное копирование — оборудование Dell EMC;
		li сети передачи данных — оборудование Huawei;

	p Программное обеспечение:
	ul
		li среда виртуализации — VMware;
		li базовые инфраструктурные сервисы — Windows;
		li операционные системы — семейств Windows, Linux
		li резервное копирование — Commvault.»

	h5 Результат

	p Оказываются услуги по сопровождению и обслуживанию комплекса программных и аппаратных средств, все в рамках договорных SLA.
