h3 Миграция почтовой системы Минздрава России на отечественное решение
.article__project
  .article__project-picture
    img.article__project-image(src="img/project-39.png", alt="Logo")
  .article__project-info
    p.article__project-info-header Заказчик
    p.font-weight-bold.mb-0.mb-sm-5 ФГБУ «Научный центр экспертизы средств медицинского применения» Министерства здравоохранения Российской Федерации
    p.mb-0 Москва, 2022

.article__content
  p Миграция почтовой системы, почтовых ящиков и функционального окружения пользователей на продукты отечественных производителей.

  h5 Решение

  p В 2022 году на основании открытой закупочной процедуры был заключен договор на миграцию почтовой системы.  Цель — повышения импортонезависимости критической инфраструктуры Заказчика при сохранении функциональных характеристик системы. 

  p В рамках договора заказчику оказываются услуги:

  ul
    li обследование существующей системы на базе решения Microsoft Exchange;
    li разработка проектных решений и технической документации;
    li внедрение почтовой системы, миграция пользовательских почтовых ящиков с сохранением привычных инструментов коллаборации.

  p Программное обеспечение:
  ul
    li почтовая система CommuniGate Pro.


  h5 Результат

  p За месяц работ новая система была построена и 1300 пользователей были переведены на работу с ней без простоев в работе.