h3 Обеспечение функционирования комплекса программных и аппаратных средств экстренных оперативных служб и системы 112 города Москвы
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-12.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 ООО «ПРОДЖЕКТ САППОРТ»
		p.mb-0 Москва, 2022 — 2023

.article__content
	p Сопровождение и обеспечение непрерывного функционирования базовой инфраструктуры заказчика.

	h5 Решение 
	
	p «В 2022 году на основании открытой закупочной процедуры был заключен договор на техническое сопровождение в круглосуточном режиме, в рамках которого заказчику оказываются услуги:

	ul
		li системного администрирования;
		li технического сопровождения программно-технического комплекса;
		li системного сопровождения программно-технического комплекса

	p С целью:
	ul 
		li обеспечения целостности, сохранности и восстанавливаемости данных системы;
		li обеспечения устойчивого, эффективного и бесперебойного функционирования Системы;
		li обеспечения целостности, сохранности и восстанавливаемости данных Системы

	p Оборудование:
	ul
		li хранения данных — дисковые массивы Huawei;
		li вычислительное — серверы Huawei;
		li сети хранения данных — оборудование Huawei;
		li резервное копирование — оборудование Dell EMC;
		li сети передачи данных — оборудование Huawei;

	p Программное обеспечение:
	ul
		li среда виртуализации — Vmware;
		li базовые инфраструктурные сервисы — Windows;
		li операционные системы — семейств Windows, Linux
		li резервное копирование — Symantec.»
		
	h5 Результат

	p Оказываются услуги по сопровождению и обслуживанию комплекса программных и аппаратных средств, все в рамках договорных SLA.
	