h3.mb-10 Полный цикл услуг по инфраструктурным решениям на актуальной технологической базе
.article__service
  .article__service-picture
    img.article__service-image(src="img/service-1.svg", alt="Picture")
  h6.font-weight-normal Грамотное Техническое задание обеспечивает половину успеха реализации вашего проекта.
.article__content
  p Инфраструктурные решения обеспечивают информационные системы ИТ-ресурсами, предоставляя их с определённым качеством, зафиксированным в SLA. Мы рассматриваем ИТ-инфраструктуру как комплексную систему, отвечающую принципам международных стандартов управления качеством ИСО9001:2015, состоящую из набора подсистем:

  p 1. Подсистемы инфраструктурных служб:
  ul
    li Базовые инфраструктурные службы (LDAP, AD, DNS, DHCP)
    li Коммуникационные службы (почта, VOiP, UC)
    li Системное и служебное ПО (ОС, инфраструктурные службы Linux, Microsoft)
    li Подсистемы мониторинга и управления (SNMP, WMI)

  p 2. Подсистемы информационной безопасности:
  ul
    li Периметральные средства безопасности (FW, IPS/IDS, NTA, Threat Intelligence, DDoS mitigation)
    li Средства идентификации и аутентификации пользователей (IdM/IAM SSO, MFA/PKI, PAM/PIM/PUM)
    li Средства защиты от несанкционированного доступа (программные и аппаратные)
    li Средства защиты от утечек конфиденциальной информации (DLP, MDM)
    li Средства защиты рабочих мест (антивирусная защита, контроль приложений и подключаемых устройств)
    li Средства сбора и корреляции событий безопасности (SIEM, IRP)

  p 3. Подсистемы платформенных сервисов:
  ul
    li Облачные платформы (IaaS, PaaS, SaaS)
    li Кластерные технологии (HA, метро-, гео-)
    li Гиперконвергентные решения
    li Инфраструктурная виртуализация (bare metal, VDI, storage, network)
    li Контейнерная виртуализация (Docker, Kubernetes)
    li Средства непрерывной доставки приложений (CI/CD)
    li Базы данных

  p 4. Сетевые подсистемы:
  ul
    li Сети хранения данных (SAN, NAS)
    li Сети передачи данных (LAN, WAN, WLAN)

  p 5. Подсистемы хранения данных:
  ul
    li Подсистемы оперативного хранения данных (SAN, NAS)
    li Подсистемы хранения больших данных (Object, DataLake, SQL/NoSQL Databases)
    li Подсистемы резервного и архивного данных (TL, VTL, block/file)

  p 6. Вычислительные подсистемы:
  ul
    li Серверы стандартной архитектуры (x64/86)
    li Серверы проприетарной архитектуры (RISC, ARM, MIPS)
    li Специализированные серверные платформы (blades, OCP)

  p Мы не выделяем инженерные, обеспечивающие, кабельные подсистемы, подсистемы физической защиты (электроснабжение, кондиционирование, СКС, СКУД, СВН), поскольку не внедряем их сами, однако для решения таких задач у нас есть проверенный пул надёжных подрядчиков и в комплексных проектах мы выступаем единым центром компетенции, неся полную ответственность перед заказчиком за совокупный результат.

  p При разработке новых решений мы используем проверенные продукты отечественных и зарубежных производителей из дружественных стран, однако у нас достаточно опыта и компетенции для поддержки решений на базе продуктов производителей, прекративших свою работу с Россией. Используя разработанные Правительством Российской Федерации механизмы, при необходимости мы также сможем обеспечить легальную поставку необходимых технических средств таких производителей.

  p Источниками разработки инфраструктурных решений, кроме информации о процессах заказчика, регулирующих их документов, законодательных ограничений и требований регулирующих органов, служат российские и международные стандарты:
  ul
    li Комплексы стандартов ГОСТ 34 и ИСО
    li Библиотека стандартов ITIL
    li Рекомендации проектного управления PMBOK
    li Разработки института стандартов BSI
    li Рекомендации независимой индустриальной организации SNIA

  p Придерживаясь системного подхода, мы оказываем полный цикл услуг по созданию и эксплуатации как полноценной совокупности подсистем ИТ-инфраструктуры, так и отдельных её элементов, путём последовательной реализации этапов:
  p Обследование → проектирование → поставка → внедрение → техническая поддержка и эксплуатация (аутсорсинг).

  a.d-block.mt-15(href="/article--project--outsource.html)") Подробнее об этом




  h5 Примеры
  ul

    li
      p Крупный банк Российской Федерации – с 2018 по 2022-й год реализовали портфель проектов по созданию двух ЦОД, работающих в катастрофоустойчивом режиме «активный — активный» в г. Москва, и комплекс ЦОД в других городах
        a.d-block.mt-15(href="project-1.html") Подробнее

    li
      p АО «Банк ДОМ. РФ», АО «ДОМ. РФ» - в 2021-м году построили распределенную гиперконвергентную ИТ-инфраструктуру с размещением компонент информационных систем на двух равнозначных площадках (ЦОД) с обеспечением функционирования по модели active-active или active-standby
        a.d-block.mt-15(href="project-35.html") Подробнее

    li
      p В 2022 — 2023 гг. осуществляется сопровождение и обеспечение непрерывного функционирования базовой инфраструктуры комплекса программных и аппаратных средств экстренных оперативных служб и системы 112 города Москвы.
        a.d-block.mt-15(href="project-33.html") Подробнее


    li
      p В 2021 – 2023 гг. осуществляется сопровождение, обеспечение непрерывного функционирования и развитие базовой инфраструктуры ИТ-систем Росавтодора в г. Москва.
        a.d-block.mt-15(href="project-32.html") Подробнее

    li
      p В 2017 г. была разработана проектная документация для консолидированной ИТ-инфраструктуры подведомственных департаментов в здании ОКО БЦ Москва-Сити, проведено внедрение, по 2023 год осуществляется техническое сопровождение в круглосуточном режиме.
        a.d-block.mt-15(href="project-10.html") Подробнее
