h3.mb-10 Обеспечение информационной безопасности
.article__service
	.article__service-picture
		img.article__service-image(src="img/service-2.svg", alt="Picture")
	h6.font-weight-normal Время и деньги, инвестированные в проектирование, возвращаются уже в первый год эксплуатации.
.article__content
	p Современной организации для обеспечения информационной безопасности требуется реализовать сложный комплекс организационно-технических мер, основанный на твёрдой базе федеральных законов, подзаконных актов и методических рекомендаций регулирующих органов.

	p Используя системный подход, мы поможем организовать процессы по поддержанию конфиденциальности, целостности, доступности информации с использованием необходимых технических средств:
	ul
		li Проведём обследование, выявим уязвимости и оценим защищенность информации
		li Согласуем план действий по уменьшению рисков и угроз
		li Разработаем нормативно-техническую документацию
		li Внедрим технические средства
		li Подготовим персонал к актуальным угрозам и вызовам, проведем учения
		li Обеспечим техническое сопровождение работающих систем

	p У нас есть опыт построения ИТ-инфраструктур и многоуровневых сегментированных сетей в жесточайших условиях защиты информации ДСП, конфиденциальной информации и персональных данных для крупнейших банков, страховых, медицинских организаций и государственных заказчиков с различными требованиями к контурам безопасности.

	p Профильные технологии
	ul
		li Периметральные системы безопасности (firewall, NGFW, DPI, WAF, DBFW)
		li Системы обнаружения/предотвращения вторжений (IPS, IDS)
		li Системы идентификации и аутентификации пользователей (IdM/IAM SSO, MFA/PKI, PAM/PIM/PUM)
		li Системы защиты от утечек конфиденциальной информации (DLP)
		li Контроль мобильных устройств (MDM)
		li Системы защиты рабочих мест (антивирусная защита, контроль приложений и подключаемых устройств)
		li Системы поиска и обнаружения атак (Threat Intelligence, EDR)
		li Системы анализа трафика (NTA)
		li Средства защиты от DDoS-атак
		li Системы сбора и корреляции событий безопасности (SIEM, IRP)
		li Системы резервного копирования


	h5 Примеры реализованных проектов
	ul
		li 
			p ФГБУ «НМИЦ ТО им. Н.Н. Приорова» Минздрава России – в 2022-м году разработали план мероприятий, направленных на повышение защищенности объектов критической информационной инфраструктуры
				a.d-block.mt-15(href="project-40.html") Подробнее


		li 
			p Росавтодор – в 2022-м году создали распределённую инфраструктуру периметральных средств безопасности
				a.d-block.mt-15(href="project-41.html") Подробнее

		li 
			p Крупный банк Российской Федерации – в 2022-м году выполнили миграцию на отечественные решения периметральных средств безопасности региональных сегментов
				a.d-block.mt-15(href="project-42.html") Подробнее
