h3 Создание гиперконвергентной вычислительной инфраструктуры
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-12.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 АО «Банк ДОМ. РФ», АО «ДОМ. РФ»
		p.mb-0 Москва, 2021

.article__content
	p «В 2021 году на основании открытой закупочной процедуры был заключен договор на создание распределенной гиперконвергентной ИТ-инфраструктуры, которая должна решить следующие задачи:
	
	ul
		li Хранение и резервное копирование данных информационных систем и конечных пользователей;
		li Обработка данных;
		li Передача данных информационных систем между компонентами ИТ-инфраструктуры, а также между внешними потребителями и создаваемой ИТ-инфраструктурой».

	h5 Решение 
	
	p «Созданная ИТ-инфраструктура предусматривает возможность размещения компонент информационных систем на двух равнозначных площадках (ЦОД) с обеспечением функционирования по модели active-active или active-standby. Отказоустойчивость между компонентами информационных систем обеспечивается двумя способами: средствами самих ИС на уровне системного или прикладного программного обеспечения; средствами кластеризации компонент ИТ-инфраструктуры (СХД, платформа виртуализации) с организацией территориально распределённого метро-кластера.

	p Оборудование:
	ul
		li Гипергонвергентная среда для обеспечения вычислительных ресурсов и хранения данных (SDS) — стоечные серверы Dell;
		li Сеть передачи данных — коммутаторы Mellanox;

	p Программное обеспечение:
	ul
		li Гиперконвергентная среда — VMware.»

	h5 Результат

	p Проведено обследование существующей инфраструктуры Заказчика, разработаны документы технического проекта, схемы подключения оборудования, программа и методика испытаний, инфраструктура внедрена и принята в промышленную эксплуатацию.
