h3 Сопровождение и обеспечение функционирования ИТ-систем Росавтодора
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-12.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 ООО «ОТР-безопасность информационных технологий»
		p.mb-0 Москва, 2021 — 2023


.article__content
	p Сопровождение, обеспечение непрерывного функционирования и развитие базовой инфраструктуры заказчика.

	h5 Решение 
	
	p «В 2021 году на основании открытой закупочной процедуры был заключен договор на техническое обслуживание в режиме 9×5 (частично — круглосуточно) в рамках которого заказчику оказываются услуги:
	ul
		li системного администрирования 
		li обслуживания пользовательских АРМ и периферийных устройств
		li обслуживания оборудования вычислительной инфраструктуры, включая обновление микропрограммного обеспечения.
		li восстановление функциональности оборудования в случаях возникновения неисправностей и сбоев в его работе;
		li консультационная поддержка;

	p Также, реализован портфель проектов для оптимизации и развития ИТ-инфраструктуры в центральном сегменте г. Москва и в периферийных федеральных учреждениях.

	p Оборудование:
	ul
		li хранения данных — дисковые массивы IBM;
		li вычислительное — стоечные серверы и блейд-серверы HPE, Dell;
		li сети хранения данных — оборудование HPE SAN;
		li резервное копирование — оборудование HPE;
		li сети передачи данных — оборудование Cisco Systems;

	p Программное обеспечение:
	ul
		li среда виртуализации — Vmware;
		li базовые инфраструктурные сервисы — Windows;
		li операционные системы — семейств Windows, Linux
		li резервное копирование — Symantec.»

	h5 Результат

	p Оказываются услуги по сопровождению, обслуживанию и развитию вычислительной инфраструктуры, за год выполняется более 500 заявок на обслуживание, все в рамках договорных SLA. Также реализован портфель проектов по оптимизации и развитию ИТ-инфраструктуры.
