h3 Монтажные, коммутационные и пуско-наладочные работы и разработка документации при модернизации кластеризованной и географически распределенной системы хранения данных ФАУ «Главгосэкспертиза России»
.article__project
	.article__project-picture
		img.article__project-image(src="img/project-3.png", alt="Logo")
	.article__project-info
		p.article__project-info-header Заказчик
		p.font-weight-bold.mb-0.mb-sm-5 ООО «ИТЛ ГРУПП»
		p.mb-0 Москва, 2021


.article__content
	p В 2021 году на основании открытой закупочной процедуры был заключен договор на проведение комплекса работ с целью увеличения дисковой ёмкости кластеризованной и географически распределённой системы хранения данных (метрокластера) между двумя центрами обработки данных.

	h5 Решение 
	
	p «Все работы выполнены без нарушения процессов эксплуатации информационных систем, локальных сетей и их узлов в рабочее время.

	p Оборудование:
	ul
		li хранения данных — дисковые массивы Dell EMC, Булат;
		li сети хранения данных — оборудование Dell EMC, Булат;
		li сети передачи данных — оборудование Булат;

	p Программное обеспечение:
	ul
		li среда виртуализации — Vmware, Microsoft.»

	h5 Результат

	p Проведено обследование существующей инфраструктуры Заказчика, разработаны документы технического проекта, схемы установки оборудования, программа и методика испытаний. Дисковая ёмкость успешно увеличена, все работы проведены во внерабочее время.