h3.mb-20 Специальные предложения для государственных компаний и бюджетных учреждений

h5 Разработка плана импортозамещения

.article__content
	p Процесс замены инфраструктурных решений, обеспечивающих работу информационных систем, на продукцию других производителей, содержит много рисков:
	ul
		li несовместимость оборудования и ПО смежных подсистем друг с другом
		li скрытые проблемы продуктов ввиду ограниченной инсталляционной базы
		li неявные ограничения функционала и отсутствие документации

	p Поэтому, стратегия обеспечения независимости от импорта требует тщательного планирования, которое мы в первую очередь проводим для наших заказчиков. Целями планирования являются:
		p.ml-10 1. Выявление нарушений законодательства РФ в части импортозамещения
		p.ml-10 2. Устранение рисков, связанных с использованием оборудования и ПО иностранных производителей из стран, которые ввели экономические санкции в отношении Российской Федерации.

	p В ходе планирования мы:
	ul
		li Обследуем существующие подсистемы ИТ-инфраструктуры
		li Проанализируем предоставляемые ИТ-инфраструктурой сервисы, имеющиеся ограничения и перспективные потребности
		li Разработаем план перехода на отечественные решения
		li Подберём оптимальные отечественные аналоги и подготовим спецификации
		li Проведём аудит на предмет нарушения законодательства РФ в части импортозамещения

	p В результате оказания услуг предоставим:

	p 1. Отчет об обследовании, содержащий:
		p.ml-10 a. Инвентаризационные данные
		p.ml-10 b. Архитектурные данные об ИТ-инфраструктуре
		p.ml-10 c. Перечень актуальных рисков в том числе и по части нарушений законодательства РФ по части импортозамещения

	p 2. План перехода на отечественные решения, содержащий перечень основных этапов работ и действия, выполняемые на каждом из этапов, по всем импортозамещаемым подсистемам
	p 3. Спецификацию на отечественные аналоги оборудования и ПО, содержащую сведения о производителе, наименовании продукции, ее количестве и стоимости, учитывающую фактические и перспективные потребности Заказчика, выявленные на этапе обследования

	p
	| Для вашего удобства мы сформировали пакетное предложение, которым могут воспользоваться любые государственные компании и бюджетные организации, закупив данную услугу через&#32;
	a(href='https://zakupki.mos.ru/') портал поставщиков.
		

	h5 Примеры реализованных проектов

	ul
		li
			p В 2022-м году произвели миграцию почтовой системы Минздрава России на отечественное решение

				a.d-block.mt-15(href="project-39.html") Подробнее

		li
			p ГУП «Мосгортранс» - в 2018-м году модернизировали аппаратно-программный комплекс серверной инфраструктуры с установкой системы хранения данных отечественного производства

				a.d-block.mt-15(href="project-5.html)") Подробнее

		li
			p ФАУ «Главгосэкспертиза России» - в 2021-м году модернизировали кластеризованную и географически распределенную систему хранения данных с использованием продуктов отечественного производства

				a.d-block.mt-15(href="project-38.html") Подробнее


		h5 Выявление угроз информационной безопасности

		p Современной организации для обеспечения информационной безопасности требуется реализовать сложный комплекс организационно-технических мер, основанный на твёрдой базе федеральных законов, подзаконных актов и методических рекомендаций регулирующих органов.

		p Используя системный подход, мы поможем организовать процессы по поддержанию конфиденциальности, целостности, доступности информации с использованием необходимых технических средств:
		ol
			li Проведём обследование, выявим уязвимости и оценим защищенность информации
			li Согласуем план действий по уменьшению рисков и угроз
			li Разработаем нормативно-техническую документацию
			li Внедрим технические средства
			li Подготовим персонал к актуальным угрозам и вызовам, проведем учения
			li Обеспечим техническое сопровождение работающих систем

	h5 Примеры реализованных проектов


	ul
		li
			p ФГБУ «НМИЦ ТО им. Н.Н. Приорова» Минздрава России – в 2022-м году разработали план мероприятий, направленных на повышение защищенности объектов критической информационной инфраструктуры

				a.d-block.mt-15(href="/project-40.html") Подробнее

		li
			p Росавтодор – в 2022-м году создали распределённую инфраструктуру периметральных средств безопасности

				a.d-block.mt-15(href="project-41.html") Подробнее

		li
			p Крупный банк Российской Федерации – в 2022-м году выполнили миграцию на отечественные решения периметральных средств безопасности региональных сегментов

				a.d-block.mt-15(href="project-42.html") Подробнее

	h5 Повышение эффективности использования имеющихся ресурсов

	p Нагрузка на информационные сервисы постоянно растёт, что приводит к необходимости добавления новых ИТ-ресурсов. Вместо расходования средств на закупку нового оборудования, мы поможем вам исследовать работу существующего и оптимизировать его использование, проведя следующие мероприятия:
	ol
		li.ml-10 Инвентаризация оборудования ИТ-инфраструктуры
		li Разработка или актуализация ресурсно-сервисной модели
		li Установка системы мониторинга использования ИТ-оборудования, дополненной аналитическими модулями
		li Выявление «узких мест» и неоптимальных конфигураций инфраструктурных подсистем, направляющих на оборудование повышенную нагрузку
		li Устранение выявленных неоптимальностей
		li Принятие Заказчиком самостоятельных решений о перераспределении нагрузки

	p По итогам оказания наших услуг вы получите настроенную систему мониторинга утилизации ресурсов, позволяющую также:
	ul
		li Оптимизировать затраты на аренду телекоммуникационных каналов связи на основании информации об их утилизации
		li Планировать модернизацию ИТ-инфраструктуры на основании данных об утилизации оборудования
		li Предотвращать отказы при критической нехватке производительности компонентов ИТ-инфраструктуры из-за перегрузки

	p Программное обеспечение, используемое при оказании услуги, распространяется по открытой лицензии GPL и дорабатывается нашими специалистами согласно специфике вашей инфраструктуры.
	p
	| Для вашего удобства мы сформировали пакетное предложение, которым могут воспользоваться любые государственные компании и бюджетные организации, закупив данную услугу через&#32;
	a(href='https://zakupki.mos.ru/')  портал поставщиков.

