h3 Разработка планов мероприятий для защиты объектов КИИ
.article__project
  .article__project-picture
    img.article__project-image(src="img/project-39.png", alt="Logo")
  .article__project-info
    p.article__project-info-header Заказчик
    p.font-weight-bold.mb-0.mb-sm-5 Заказчик: ФГБУ «НМИЦ ТО им. Н.Н. Приорова» Минздрава России
    p.mb-0 Москва, 2022

.article__content
  p В соответствии с требованиями регуляторов (ФСТЭК, ФСБ, Минздрав) к выполнению мероприятий в контексте Федерального закона от 26.07.2017 г. № 187-ФЗ «О безопасности критической информационной инфраструктуры Российской Федерации» провести категоризацию объектов критической информационной инфраструктуры и разработать планы мероприятий по повышению их защищенности.

  h5 Решение

  p Проведено обследование медицинских информационных систем, эксплуатируемых заказчиком, включая:
  ul
    li анализ процессов
    li анализ технических составляющих информационных систем
    li анализ документооборота в части информационной безопасности

  h5 Результат

  p Выявлены объекты КИИ, подлежащие категорированию в соответствии с правилами категорирования объектов критической инфраструктуры, утвержденных Постановлением Правительства N 127 от 8 февраля 2018.

  p Подготовлен перечень ОКИИ в соответствии с требованиями информационного сообщения ФСТЭК России от 24 августа 2018 г. № 240/25/3752.

  p Подготовлены акты категорирования, включающие по каждому объекту следующую информацию:
  ul
    li сведения об объектах и субъектах;
    li сведения о программных и программно-аппаратных средствах;
    li сведения об угрозах безопасности информации и категориях нарушителей в отношении объекта;
    li сведения о возможных последствиях в случае возникновения компьютерных инцидентов;
    li сведения о категориях значимости;
    li сведения об организационных и технических мерах, применяемых для обеспечения безопасности.

  p Разработаны планы обязательных и рекомендуемых мероприятий по обеспечению защищенности объектов КИИ.

  p Разработан план мероприятий по обеспечению соответствия требованиям к защите персональных данных.