mixin partners(modifier)
  .partners&attributes(attributes)
    - var i = 13
    while i <= 33
      img.partners__item(src="img/" + i + ".png", srcset="img/" + i++ + "_2x.png 2x", alt="Partner Logo")
