.partners {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;

  @include media-breakpoint-down(sm) {
    justify-content: center;
    gap: 10px;
  }
  &__item {
    align-self: center;
    width: 200px;

    @include media-breakpoint-down(xs) {
      max-width: 100px;
      gap: 10px;
    }
  }
}
