extends ../templates/template.pug
block content
  +header('header--main').header--white
  +front
  .container.my-0.my-sm-80
    .row
      .col-xl-3.d-flex.flex-column.align-items-center.d-sm-block
        h2
          a(href="projects.html") Проекты
        p С 2015 года мы выполнили более 30 проектов. Самые сложные, масштабные и уникальные для российского рынка, описаны в этом разделе.
      .col-xl-9
        .row.no-gutters
          .col-md-3.col-sm-6.d-flex
            +project-sm('project-32.png', 'Сопровождение базовой инфраструктуры Росавтодора', 'project-32.html')
          .col-md-3.col-sm-6.d-flex
            +project-sm('project-39.png', 'Миграция почтовой системы Минздрава на отечественное решение', 'project-39.html').project-sm--light
          .col-md-3.col-sm-6.d-flex
            +project-sm('project-35.png', 'Гипер&shy;конвергентная инфраструктура Дом.РФ <nobr>и Банка Дом.РФ</nobr>', 'project-35.html').project-sm--dark
          .col-md-3.col-sm-6.d-flex
            +project-sm('project-33.png', 'Поддержка непрерывности функционирования экстренных служб Москвы', 'project-33.html')

  +banner-gov

  .bg-light.py-30.py-sm-80
    .container
      .row
        .col-xl-3.d-flex.flex-column.align-items-center.d-sm-block
          h2
            a(href="services.html") Услуги
          p Наша команда придумывает, документирует и реализует решения по хранению, обработке и передачи данных в корпоративных средах.
        .col-xl-9
          .row.no-gutters
            .col-md.mr-10
              +service-sm('service-1.svg', 'Инфраструктурные решения', 'service-audit-and-consulting.html')
            .col-md.mr-10
              +service-sm('service-2.svg', 'Информационная безопасность', 'service-engineering.html')
            .col-md.mr-10
              +service-sm('service-3.svg', 'Масшабирование без закупок', 'service-equipment-supplies.html')
            .col-md.mr-10
              +service-sm('service-4.svg', 'Обеспечение непрерывности', 'service-implementation.html')
            .col-md
              +service-sm('service-5.svg', 'Эксплуатация и сопровождение', 'service-operation-and-maintenance.html')
  +footer