extends ../templates/template.pug

block prepend head
  - var title = "АО «Р7»"

block content
  +header('header--about')
  +breadcrumbs('О компании')
  .container
    .row
      .col-lg-8
        .article
          .article__content
            h1 АО «Р7»

            p Сайт: <b><a href="https://r7-office.ru">https://r7-office.ru</a></b>

            p АО&nbsp;&laquo;Р7&raquo;&nbsp;&mdash; российский разработчик офисного программного обеспечения. Ключевым продуктом компании является офисный пакет &laquo;Р7-Офис&raquo;, который входит в&nbsp;Реестр отечественного ПО. 

            p &laquo;Р7-Офис&raquo;&nbsp;&mdash; это офисный продукт для бизнеса и&nbsp;учреждений образования. &laquo;Р7-Офис&raquo; представлен в&nbsp;десктоп-версии, серверной версии и&nbsp;как облачный офис. В&nbsp;состав решения входят редакторы текстовых документов, таблиц и&nbsp;презентаций, совместимые со&nbsp;всеми популярными форматами, платформа для совместной работы, средство просмотра изображений и&nbsp;видео, корпоративный мессенджер, система управления проектами, органайзер с&nbsp;календарем и&nbsp;электронной почтой, CRM, платформа для создания корпоративной соцсети. 

            p Серверная и&nbsp;облачная версии обеспечивает многопользовательский доступ, совместное редактирование и&nbsp;рецензирование. 

            p &laquo;Р7-Офис&raquo; неоднократно становился победителем премий Cnews Award, Tadviser Prize, Приоритет в&nbsp;различных номинациях. 

            p Разработчиком Р7-Офис является компания &laquo;Р7&raquo; из&nbsp;Нижнего Новгорода. 

              
            h3 Контактная информация

            p АО «Р7», Россия, 603152, г. Нижний Новгород, ул. Ларина, д. 22 лит. Д.
            p +7 831 422 48 30
            p +7 495 120 46 77
            p Вопросы о корпоративных продажах — <a href="mailto:sales@r7-office.ru">sales@r7-office.ru</a>



  +footer