extends ../templates/template.pug

block prepend head
  - var title = "МойОфис"

block content
  +header('header--about')
  +breadcrumbs('О компании')
  .container
    .row
      .col-lg-8
        .article
          .article__content
            h1 МойОфис

            p Сайт: <b><a href=" https://myoffice.ru">https://myoffice.ru</a></b>

            p МойОфис — безопасные офисные решения для общения и совместной работы с документами. Обеспечивают полный контроль над данными, соответствуют отраслевым стандартам безопасности, подходят для организаций любого размера, а также для домашнего использования. Работают на любом устройстве в любой точке мира. Состоят в реестре отечественного ПО. Развитая экосистема МойОфис обеспечивает быстрое внедрение, бесшовную интеграцию и простую эксплуатацию собственных решений.


            h4 Преимущества
            
            ul
              
              li Решения МойОфис созданы специально для совместной работы и помогают работать с документами до 30% быстрее.

              
              li Решения МойОфис совместимы со всеми популярными операционными системами и аппаратными комплексами, включая российские. Вы сможете работать в едином интерфейсе на любом устройстве из любой точки мира.

              
              li Информационная безопасность заложена на уровне архитектуры продуктов МойОфис, что гарантирует вам контроль над данными и высокую защиту от утечек информации.
    
              ul(style="margin-left:36px")

                
                li В число акционеров МойОфис входит мировой лидер в области кибербезопасности «Лаборатория Касперского».

                
                li Единственный защищенный российский офис, безопасность которого подтверждена ФСТЭК России, ФСБ России и Минобороны России.

                
                li Единственное сертифицированное облачное офисное решение в России.
    
              
              li МойОфис легко встраивается в любую инфраструктуру. Интеграции с более чем 20 решениями других производителей и развитый SDK обеспечивают совместимость, быстрое внедрение и удобную работу.

              
              li МойОфис динамично развивается и учитывает отраслевую специфику в решении бизнес-задач клиентов. За 2021 год мы внедрили уже более 1000 улучшений, включая запросы наших заказчиков.


            h2 «МойОфис Профессиональный» 

            h6.font-weight-normal Комплекс безопасных приложений и систем для профессиональных коммуникаций и работы с документами в облаке и офлайн на любых устройствах.

            p В состав продукта входят следующие приложения:
            
            ul
              li «Документы» – файловый менеджер и средство для одновременной совместной работы с текстовыми документами и электронными таблицами в облаке;
              
              li «МойОфис Текст» – удобный редактор для работы с текстовыми документами любой сложности;
              
              li «МойОфис Таблица» – редактор электронных таблиц для проведения экономико-статистических расчетов и решения повседневных задач;
              
              li «МойОфис Презентация» – удобное приложение для просмотра и демонстрации презентаций;
              
              li «Редактор презентаций» – приложение для создания и редактирования графических презентаций;
              
              li «МойОфис Аналитика» – настольное приложение для построения моделей и анализа данных, а также их визуализации на интерактивных информационных панелях;
              
              li «МойОфис Почта» – приложение для организации и ведения внутренней и внешней переписки по электронной почте;
              
              li «МойОфис Календарь» – приложение для планирования личного и корпоративного расписания и организации рабочих встреч;
              
              li «МойОфис Контакты» – приложение для управления контактами и адресными книгами.

            p А также:
            
            ul 
              li Система хранения данных – система, обеспечивающая безопасное хранение и обмен корпоративными документами и файлами между сотрудниками;

              li Сервер редактирования и совместной работы – система, позволяющая работать над документами нескольким сотрудникам одновременно;
            
              li Почтовый сервер – система, предоставляющая широкие возможности настройки и управления почтой.

            
            h2 «МойОфис Стандартный» 

            h6.font-weight-normal Офисный пакет для работы с документами и почтой. Приложения устанавливаются на компьютер пользователя и не требуют подключения к интернету.

            p Состав продукта:
            
            ul 
              li «МойОфис Текст» – удобный редактор для работы с текстовыми документами любой сложности;
              
              li «МойОфис Таблица» – редактор электронных таблиц для проведения экономико-статистических расчетов и решения повседневных задач;
              
              li «МойОфис Презентация» – удобное приложение для просмотра и демонстрации презентаций;
              
              li «Редактор презентаций» – приложение для создания и редактирования графических презентаций;
              
              li «МойОфис Аналитика» – настольное приложение для построения моделей и анализа данных, а также их визуализации на интерактивных информационных панелях;
              
              li «МойОфис Почта» – почтовый клиент для работы с письмами, календарем, задачами и контактами;

            h2 «МойОфис Почта» 
            
            h6.font-weight-normal Почтовый сервер и приложения для работы с электронными письмами, внутренними адресными книгами и внешними контактами, а также календарями и задачами с любого устройства.

            p Состав продукта:
            
            ul 
              li «МойОфис Почта» – приложение для организации и ведения внутренней и внешней переписки по электронной почте;
            
              li «МойОфис Календарь» – приложение для планирования личного и корпоративного расписания и организации рабочих встреч;
            
              li «МойОфис Контакты» – приложение для управления контактами и адресными книгами.
            
              
            p А также:
            
            ul
              li Почтовый сервер – система, предоставляющая широкие возможности настройки и управления почтой.

            h2 «МойОфис Частное Облако» 

            h6.font-weight-normal Комплекс безопасных веб-сервисов и приложений для организации облачной рабочей среды внутри компании. Разворачивается на собственных серверах заказчика или оборудовании доверенных партнеров.

            p ВАЖНО! С 7 апреля 2022 года состав продукта "МойОфис Частное Облако" измениться.
            
            ul 
              li В состав продукта входят следующие веб-приложения:
              
              li «Документы» – файловый менеджер и средство для одновременной совместной работы с текстовыми документами и электронными таблицами в облаке;
              
              li «МойОфис Текст» – удобный редактор для работы с текстовыми документами любой сложности;
              
              li «МойОфис Таблица» – редактор электронных таблиц для проведения экономико-статистических расчетов и решения повседневных задач;
              
              li «МойОфис Презентация» – удобное приложение для просмотра и демонстрации презентаций;
              
              li «МойОфис Почта» – приложение для организации и ведения внутренней и внешней переписки по электронной почте;
              
              li «МойОфис Календарь» – приложение для планирования личного и корпоративного расписания и организации рабочих встреч;
              
              li «МойОфис Контакты» – приложение для управления контактами и адресными книгами.

            p А также:
            
            ul 
              li Система хранения данных – система, обеспечивающая безопасное хранение и обмен корпоративными документами и файлами между сотрудниками;
              
              li Сервер редактирования и совместной работы – система, позволяющая работать над документами нескольким сотрудникам одновременно;
              
              li Почтовый сервер – система, предоставляющая широкие возможности настройки и управления почтой.
          
              
            h2 «МойОфис Образование» 
            h6.font-weight-normal Набор приложений для работы с текстом, таблицами и презентациями в образовательных организациях. «МойОфис Образование» соответствует требованиям ФГОС и подходит как для обучения, так и для административной работы в образовательных организациях.

            p В состав продукта входят следующие приложения для ПК:
            
            ul
              li «МойОфис Текст» – удобный редактор для работы с текстовыми документами любой сложности;
            
              li «МойОфис Таблица» – редактор электронных таблиц для проведения экономико-статистических расчетов и решения повседневных учебных задач;
            
              li «МойОфис Презентация» – удобное приложение для просмотра и демонстрации презентаций;
            
              li «Редактор презентаций» – приложение для создания и редактирования графических презентаций.

            h2 «МойОфис Защищённое облако»
            h6.font-weight-normal Комплекс защищенных серверных приложений для организации совместной работы с конфиденциальными документами в закрытой облачной среде. Разворачивается на собственных серверах заказчика или оборудовании доверенных партнеров.

            p В состав продукта входят следующие веб-приложения:
            
            ul
              li «Документы» – файловый менеджер и средство для одновременной совместной работы с текстовыми документами и электронными таблицами в облаке;
            
              li «МойОфис Текст» – удобный редактор для работы с текстовыми документами любой сложности;
              
              li «МойОфис Таблица» – редактор электронных таблиц для проведения экономико-статистических расчетов и решения повседневных учебных задач;
              
              li «МойОфис Презентация» – удобное приложение для просмотра и демонстрации презентаций.

            p «МойОфис Защищённое облако» может применяться:
            ul
              li в значимых объектах критической информационной инфраструктуры 1-й  категории;

            
              li в государственных информационных системах 1-го класса защищенности;
              
              li в автоматизированных системах управления производственными и технологическими процессами 1-го класса защищенности;
              
              
              
              li в информационных системах персональных данных при необходимости обеспечения 1-го уровня защищенности персональных данных;
              
              li в информационных системах общего пользования II класса.


            h2 «МойОфис Комплект средств разработки (SDK)» 
            h6.font-weight-normal Набор средств для взаимодействия прикладных систем с приложениями МойОфис. Специально для разработчиков.
            
            p Состав продукта:
            
            ul 
              li Document API – интерфейс межпрограммного взаимодействия для автоматического редактирования документов из ваших ИТ-систем;
              
              li  Collaboration API – интерфейс интеграции ваших ИТ-решений с сервером совместного редактирования МойОфис;
            
              li Надстройки – внешние устанавливаемые модули на языке Lua, которые  позволяют автоматизировать типовые операции и расширить возможности настольных редакторов МойОфис;
            
              li Автономный модуль редактирования (АМР) – веб-модуль для просмотра, редактирования и создания новых документов в однопользовательском режиме.

  +footer