extends ../templates/template.pug

block prepend head
  - var title = "Миграция на отечественные решения периметральных средств безопасности крупного банка Российской Федерации"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--42')
  +footer