extends ../templates/template.pug

block prepend head
  - var title = "Разработка планов мероприятий для защиты объектов КИИ"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--40')
  +footer