extends ../templates/template.pug

block prepend head
  - var title = "Создание распределённой инфраструктуры периметральных средств безопасности Росавтодора"

block content
  +header('header--projects')
  +breadcrumbs('Проекты')
  .container
    .row
      .col-lg-8
        +article('article--project--41')
  +footer