extends ../templates/template.pug

block prepend head
  - var title = "Услуги"

block content
  +header('header--services')
  +breadcrumbs('Услуги')
  .container.pt-25.pt-sm-0
    .row
      .col-lg-8
        h1 Услуги
        h6.d-none.d-sm-block.font-weight-normal 1 Выявим проблемные места в инфраструктуре, предложим варианты решений, опишем их бизнесу на понятном языке. Спроектируем, доставим и внедрим. Поможем с сопровождением и эксплуатацией.
        h5.d-sm-none.font-weight-normal.mb-20 2 Выявим проблемные места в инфраструктуре, предложим варианты решений, опишем их бизнесу на понятном языке. Спроектируем, доставим и внедрим. Поможем с сопровождением и эксплуатацией.


  +banner-gov

  +service('Инфраструктурные решения', 'service-1.svg', 'Справимся с любой задачей. Разработаем, модернизируем, внедрим, поддержим, обеспечим эксплуатацию инфраструктурных решений.', 'service-audit-and-consulting.html')

  +service('Информационная безопасность', 'service-2.svg', 'Выявим и устраним угрозы, наладим процессы по поддержанию конфиденциальности, целостности, доступности информации.', 'service-engineering.html')

  +service('Масштабирование без закупок', 'service-3.svg', 'Оптимизируем работу существующего оборудования, внедрим аналитическую систему оперативного мониторинга использования ресурсов.', 'service-equipment-supplies.html')

  +service('Обеспечение непрерывности', 'service-4.svg', 'Исследуем влияние ИТ на процессы организации, определим меры по предупреждению инцидентов, наладим катастрофоустойчивость.', 'service-implementation.html')


  +footer
  +modal('modal--service')
