mixin front(modifier)
  .front&attributes(attributes)

    .front__item
      .front__item-inner(style="background-color:#02557A")
        .container
          .row
            .col-12
              .front__wrapper
                .front__info
                  .front__info-item
                    span.front__info-item-number 20
                    span.front__info-item-header Систем
                  .front__info-item
                    span.front__info-item-number 600
                    span.front__info-item-header Пользователей
                  .front__info-item
                    span.front__info-item-number 24х7
                    span.front__info-item-header Режим работы
                .front__content
                  img(src="./img/icon-network-blue.svg", alt="").front__content-icon
                  .front__content-text
                    p.front__type Проект
                    a.front__header(href="project-32.html") Сопровождение базовой инфраструктуры Росавтодора
                    a.front__link(href="project-32.html") Подробнее о проекте

    .front__item
      .front__item-inner(style="background-color:#02557A")
        .container
          .row
            .col-12
              .front__wrapper
                .front__info
                  .front__info-item
                    span.front__info-item-number 1300
                    span.front__info-item-header Почтовых ящиков
                  .front__info-item
                    span.front__info-item-number 0
                    span.front__info-item-header Время простоя
                  .front__info-item
                    span.front__info-item-number 1 мес.
                    span.front__info-item-header Время работ
                .front__content
                  img(src="./img/icon-network-blue.svg", alt="").front__content-icon
                  .front__content-text
                    p.front__type Проект
                    a.front__header(href="project-39.html") Миграция почтовой системы Минздрава на отечественное решение
                    a.front__link(href="project-39.html") Подробнее о проекте

    .front__item
      .front__item-inner(style="background-color:#02557A")
        .container
          .row
            .col-12
              .front__wrapper
                .front__info
                  .front__info-item
                    span.front__info-item-number 2
                    span.front__info-item-header ЦОД
                  .front__info-item
                    span.front__info-item-number 4600
                    span.front__info-item-header CPU
                  .front__info-item
                    span.front__info-item-number 1 ПБ
                    span.front__info-item-header Данных
                .front__content
                  img(src="./img/icon-network-blue.svg", alt="").front__content-icon
                  .front__content-text
                    p.front__type Проект
                    a.front__header(href="project-35.html") Гиперконвергентная инфраструктура Дом.РФ <nobr>и Банка Дом.РФ</nobr>
                    a.front__link(href="project-35.html") Подробнее о проекте

    .front__item
      .front__item-inner(style="background-color:#02557A")
        .container
          .row
            .col-12
              .front__wrapper
                .front__info
                  .front__info-item
                    span.front__info-item-number 2 ч.
                    span.front__info-item-header RTO
                  .front__info-item
                    span.front__info-item-number 15 мин.
                    span.front__info-item-header Время реакции
                  .front__info-item
                    span.front__info-item-number 24х7
                    span.front__info-item-header Режим работы
                .front__content
                  img(src="./img/icon-network-blue.svg", alt="").front__content-icon
                  .front__content-text
                    p.front__type Проект
                    a.front__header(href="project-33.html") Поддержка непрерывности функционирования экстренных служб Москвы
                    a.front__link(href="project-33.html") Подробнее о проекте


    .front__item
      .front__item-inner(style="background-image: url(./img/front1-bg.jpg)")
        .container
          .row
            .col-12
              .front__wrapper
                .front__info
                  .front__info-item
                    span.front__info-item-number 5
                    span.front__info-item-header Площадок
                  .front__info-item
                    span.front__info-item-number 3
                    span.front__info-item-header Города
                  .front__info-item
                    span.front__info-item-number 2500
                    span.front__info-item-header Единиц оборудования
                .front__content
                  img(src="./img/icon-network-blue.svg", alt="").front__content-icon
                  .front__content-text
                    p.front__type Проект
                    a.front__header(href="project-1.html") Проектирование и внедрение частного облака крупного банка
                    a.front__link(href="project-1.html") Подробнее о проекте
 
    .front__item
      .front__item-inner(style="background-image: url(./img/front10-bg.jpg)")
        .container
          .row
            .col-12
              .front__wrapper
                .front__info
                  .front__info-item
                    span.front__info-item-number 5
                    span.front__info-item-header Департаментов
                  .front__info-item
                    span.front__info-item-number 2 ПБ 
                    span.front__info-item-header Общая ёмкость
                  .front__info-item
                    span.front__info-item-number 16
                    span.front__info-item-header Систем хранения
                .front__content
                  img(src="./img/icon-network-blue.svg", alt="").front__content-icon
                  .front__content-text
                    p.front__type Проект
                    a.front__header(href="project-10.html") Проектирование и внедрение ЦОД <br> в здании ОКО
                    a.front__link(href="project-10.html") Подробнее о проекте

    .front__item
      .front__item-inner(style="background-image: url(./img/front3-bg.jpg)")
        .container
          .row
            .col-12
              .front__wrapper
                .front__info
                  .front__info-item
                    span.front__info-item-number 4
                    span.front__info-item-header Гос. ИС
                  .front__info-item
                    span.front__info-item-number 1,5 ПБ 
                    span.front__info-item-header Общая ёмкость
                  .front__info-item
                    span.front__info-item-number 15
                    span.front__info-item-header Систем хранения
                .front__content
                  img(src="./img/icon-network-blue.svg", alt="").front__content-icon
                  .front__content-text
                    p.front__type Проект
                    a.front__header(href="project-3.html") Технорабочее проектирование ЦОД Главгосэкспертизы России
                    a.front__link(href="project-3.html") Подробнее о проекте
  
    .front__item
      .front__item-inner(style="background-image: url(./img/front17-bg.jpg)")
        .container
          .row
            .col-12
              .front__wrapper
                .front__info
                  .front__info-item
                    span.front__info-item-number 50 ТБ
                    span.front__info-item-header Общая ёмкость
                  .front__info-item
                    span.front__info-item-number 0
                    span.front__info-item-header Коэф. RTO
                  .front__info-item
                    span.front__info-item-number 0
                    span.front__info-item-header Коэф. RPO
                .front__content
                  img(src="./img/icon-network-blue.svg", alt="").front__content-icon
                  .front__content-text
                    p.front__type Проект
                    a.front__header(href="project-17.html") Проектирование и внедрение РЦОД страхового фонда
                    a.front__link(href="project-17.html") Подробнее о проекте
 

