mixin banner-gov(modifier)

  .banner-gov
    .container
      .row
        .col-12.d-sm-flex.flex-row
          .left
            h6 Специальные предложения для государственных компаний и бюджетных учреждений
          .right
            ul
              li План импортозамещения
              li Информационная безопасность
              li Масштабирование без закупок